* {
  margin: 0;
  border: border-box;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

/* Header navbar */
header{
  height: 80px;
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-around;
  padding: 20px 5%;
  
}

header img{
  height: 40px;
  max-width: 120px;
}

.nav-menu{
  margin-top: 10px;
  display: flex;
}

.nav-menu a{
  color: black;
  font-size: 16px;
  padding: 20px 40px;
  text-decoration: none;
  font-weight: bold;
  transition: all .42s ease;
}

.nav-menu a:hover{
  color: red;
}

.nav-icon{
  display: flex;
  align-items: center;  
}
/* Rresponsiveness */
@media screen and (max-width:586px) {
  .nav-menu{
    display: none;
  }
  .logo{
    position: relative;
    left: 100px;
  }
  .nav-icon{
    position: relative;
    left: 90px;
  }
  
}

/* Black bar */
.black-bar{
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-bar a{
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-weight: bold;
}

.black-bar:hover{
  text-decoration: underline white;
}

/* Main body image and texts */

.main-body{
  height: 100vh;
  width: 100%;
  background-image: url(image/hp-hero-studiopro.jpg.large.2x.jpg);
  background-position: center;
  background-size: cover;
}

.body-writings{
  height: 300px;
  width:  400px;
  padding-top: 20%;
  padding-left: 5%;
}
.body-writings span{
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.body-writings h1{
  font-size: 60px;
  font-weight: bold;
  line-height:1;
}

.body-writings h2{
  font-weight: bold;
}
.button{
   height: 100px;
   width:  400px;
   display: flex;
   padding-top: 16%;
   padding-left: 3.5%;
}
.button-1{
  background-color: black;
  border: 2px solid black;
  height: 46px;
  width: 102px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.button-1 a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
}

.button-2{
  height: 46px;
  width: 170px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
}

.button-2 a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;

}
/* Responsiveness */
@media (max-width:900px) and (min-width:400px){
  .body-img{
    background-image: url(image/hp-hero-studiopro.jpg.large.2x.jpg);
    height: 300px;
    width:  500px;
    position: relative;
    right: 110px;
    background-size: cover;
    background-position: center;
  }
  .main-body{
    background-image: none;
    background-color: #CFC8BE; 
  }
  .body-writings{
    padding-top: 80px;
  }
  .body-writings span{
    font-size: 15px;
  }
  .body-writings h1{
    font-size: 45px;
  }
  .button{
    position: relative;
    bottom: 100px;
    right: 20px;
  }
}

/* Popular now section */
.popular-now{
  height: 800px;
  background-color: #f0f0f0;
}

.popular-header h2{
  text-align: center;
  padding-top: 50px;
  font-size: 34px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.popular-items-container{
  height: 600px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item{
  background-color: white;
  height: 500px;
  width: 400px;
  margin: 40px;
  border-radius: 30px;
  position: relative;
}
.item-1{
  left: 60px;
}
.item-3{
  right: 60px;

}
.item-image{
  height: 300px;
  width: 280px;
  margin-top: 120px;
  margin-left: 50px;
}
.item-1-img{
  background-image: url("image/img1.jpg");
  background-size: cover;
}

.item-2-img{
  background-image: url("image/img2.jpg");
  background-size: cover;
}
.item-3-img{
  background-image: url("image/img3.png");
  background-size: cover;
}
.item-info{
  position: relative;
  bottom: 390px;
  left: 30px;
}

.item-info span{
  color: red;
  font-weight: bold;
}

.item-info h3{
  font-size: 27px;
}
.item-info p{
  font-size: 22px;
  font-weight: bold;
}

/* Responsiveness */
@media screen and (max-width:700px){
  .popular-header{
    position: relative;
    top: 60px;
    font-weight: bold;
  }
  .popular-now{
    height: 1980px;
  }
  .popular-items-container{
    display: block;
  } 
  .item{
    width: auto;
  } 
  .item-1{
    position: relative;
    left: 10px;
    bottom: -70px;
  }
  .item-2{
    position: relative;
    left: 10px;
  }
  .item-3{
    position: relative;
    left: 10px;
    top: -60px;
  }
  .item-image{
    position: relative;
    top: 40px;
    left: 30px;
    height: 200px;
    width: 200px;
  }
  .item-info{
    position: relative;
    top: 50px;
    right: 40px;
  }
  .item-info span{
    position: relative;
    top: 40px;
    left: 120px;
  }
  .h3-1{
    position: relative;
    top: 40px;
    left: 30px;
  }
  .item-info p{
    position: relative;
    top: 40px;
    left: 100px;
  }
  .h3-2{
    position: relative;
    top:  40px;
    left: 50px;
  }
  .h3-3{
    position: relative;
    top: 40px;
    left: 70px;
  }
}

/* Beats+ banner section */
.beats-section{
  height: 100vh;
  background-image: url(image/img.jpg);
  background-size: cover;
  background-position: center;
}

.section-writings{
  margin-left: 60px;
  position: relative;
  padding-top: 60px;
  color: white;
}
.section-writings span{
  font-size: 19px;
  font-weight: bold;
  margin-right: 10px;
  
}
.section-writings h1{
  font-size: 70px;
}
.section-writings h2{
  font-size: 29px;
}

.button-beats{
  height: 100px;
   width:  400px;
   position: relative;
   top: 30px;
   left: 40px;
   display: flex;
}

.button-changes-1{
  background-color: white;
  border: none;
}

.button-changes-1 a{
  color: black;
}

.button-changes-2{
  border: 2px solid white;
}
.button-changes-2 a{
  color: white;
}



/* Media Queries for Beats section */
@media screen and (max-width:700px) {
  .beats-section{
    background-image: none;
    background-color: #464D5D;
  }
  .section-img{
    background-image: url(image/img.jpg);
    background-size: cover;
    height: 300px;
    width: 500px;
    background-position: center;
  }
  .section-writings span{
     font-size: 15px;
     position: relative;
     right: 20px;

  }
  .section-writings h1{
    font-size: 40px;
    position: relative;
    right: 20px;
  }
  .section-writings h2{
    font-size: 25px;
    position: relative;
    right: 20px;
  }
}

/* Contact Section */
.contact-box{
  height: 400px;
  width: 100%;
  background-color: black;
}

.mail-image{
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 60px;
}

.contact-info{
  color: white;
  margin-top: 30px;
}

.contact-info h1{
  text-align: center;
  margin-bottom: 30px;
}
.contact-info p{
  text-align: center;
  margin-bottom: 30px;
}
.button-contact-container{
  margin-left: 36%;
}

.button-contact{
  width: 45%;
  height: 40px;
  background-color: #161616;
  border: 1px solid white;
  border-radius: 30px;
}


/*Contact section media queries */
@media screen and (max-width:780px){
.contact-box{
  width: 100%;
}
}
