* {
  margin: 0px;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header navbar */
.navbar{
  height: 90px;
  background-color: whitesmoke;
  color: black;
  display: flex;
  align-items: center;
  
}

.nav-logo{
  height: 80px;
  width: 50px;
  margin-left: 80px;
  margin-top: 20px;
}

.logo{
  height: 50px;
  width: 100%;
  background-image: url("beats-logo-161616.png");
  background-size: cover;
}

.nav-list{
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 350px;
}

.nav-list a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.search-button{
  width: 400px;
}

.search-logo{
  text-align: end;
  font-weight: bold;
}

.underline:hover{
  color: red;
}

/* Black bar */
.black-bar{
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-bar a{
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-weight: bold;
}

.black-bar:hover{
  text-decoration: underline white;
}

/* Main body image and texts */
.main-body{
  height: 800px;
  width: 100%;
  background-image: url("hp-hero-studiopro.jpg.large.2x.jpg");
  background-size: cover;
}

.body-writings{
 height: 400px;
 width: 400px;
 position: relative;
 top: 280px;
 left: 50px;
 
}
.p-1{
  color: red;
  font-weight: bold;
  margin-bottom: 1px;
  font-size: 22px;
  margin-left: 4px;
}
.p-2{
  font-size: 70px;
}
.p-3{
  margin-top: -5px;
  font-size: 70px;
}
.p-4{
  font-size: 28px;
  margin-left: 4px;
}

.button{
   height: 100px;
   width:  400px;
   position: relative;
   top: 120px;
   left: 30px;
   display: flex;
   
}

.button-1{
  background-color: black;
  border: 2px solid black;
  height: 46px;
  width: 102px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.button-1 a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
}

.button-2{
  height: 46px;
  width: 170px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
}

.button-2 a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;

}

/* Popular now section */
.popular-now{
  height: 800px;
  background-color: #f0f0f0;
  
}

.popular-header h2{
  text-align: center;
  padding-top: 50px;
  font-size: 34px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.popular-items-container{
  height: 600px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item{
  background-color: white;
  height: 500px;
  width: 400px;
  margin: 40px;
  border-radius: 30px;
  position: relative;
}
.item-1{
  left: 60px;
}
.item-3{
  right: 60px;

}
.item-image{
  height: 300px;
  width: 280px;
  margin-top: 120px;
  margin-left: 50px;
}
.item-1-img{
  background-image: url("img1.jpg");
  background-size: cover;
}

.item-2-img{
  background-image: url("img2.jpg");
  background-size: cover;
}
.item-3-img{
  background-image: url("img3.png");
  background-size: cover;
}
.item-info{
  position: relative;
  bottom: 390px;
  left: 30px;
}

.item-info span{
  color: red;
  font-weight: bold;
}

.item-info h3{
  font-size: 27px;
}
.item-info p{
  font-size: 22px;
  font-weight: bold;
  
}

/* Beats+ banner section */
.beats-section{
  height: 1000px;
  background-image: url("img.jpg");
  background-size: cover;
  background-position: center;
}

.section-writings{
  margin-left: 60px;
  position: relative;
  padding-top: 60px;
  color: white;
}
.section-writings span{
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
  
}
.section-writings h1{
  font-size: 70px;
}
.section-writings h2{
  font-size: 29px;
}

.button-beats{
  height: 100px;
   width:  400px;
   position: relative;
   top: 30px;
   left: 40px;
   display: flex;
}

.button-changes-1{
  background-color: white;
  border: none;
}

.button-changes-1 a{
  color: black;
}

.button-changes-2{
  border: 2px solid white;
}
.button-changes-2 a{
  color: white;
}

.apple-section{
  height: 400px;
}

.apple-header{
  margin-top: 60px;
  text-align: center;
  font-size: 20px;
}

.apple-services-cards-container{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  height: 290px;
  width: 400px;
  
}

.card-image{
  height: 78px;
  width: 75px;
  margin-top: 50px;
  margin-left: 175px;
}
.image-1{
  background-image: url("img5.png");
  background-size: cover;
}

.image-2{
  background-image: url("img6.png");
  background-size: cover;
  margin-left: 180px;
}

.image-3{
  width: 105px;
  background-image: url("img7.png");
  background-size: cover;
  margin-left: 165px;
}

.card-writings{
  margin-left: 50px;
  margin-top: 20px;
  text-align: center;
}

.h2-1{
  margin-left: 5px;
  margin-bottom: 20px;
}
.para{
  font-weight: 100;
  margin-bottom: 15px;
}
.card-writings a{
  font-size: 20px;
  color: #161616;
  font-weight: bold;
}

/* Contact Section */
.contact-box{
  height: 400px;
  background-color: black;
}

.mail-image{
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 60px;
}

.contact-info{
  color: white;
  margin-top: 30px;
}

.contact-info h1{
  text-align: center;
  margin-bottom: 30px;
}
.contact-info p{
  text-align: center;
  margin-bottom: 30px;
}
.button-contact-container{
  margin-left: 36%;
}

.button-contact{
  width: 400px;
  height: 40px;
  background-color: #161616;
  border: 1px solid white;
  border-radius: 30px;
}
